.app {
  font-size: "14px";  
}
.app .title{
  margin-bottom: 25px;
  font-size: 24px;
}
.app .controls{  
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;  
}
.app .controls button{
  height: 40px;
  width: 140px;
  margin-top: 12px;
}

.app input {
  margin-left: 12px;
  width: 40px;
}